.sec-faq {
  img {
    border-radius: 1rem;
    box-shadow: 20px 30px 20px 8px #0006;
    opacity: 0.9;
    height: 30rem;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    margin: 0 0 36px 0;
  }

  .sec-faq-desc {
    font-size: 1.5rem;
    color: #ffffffa6;
    margin-bottom: 1.5rem;
  }

  .faqs__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .faq__item {
    background-color: rgb(15, 15, 15);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 16px 24px 20px 8px;

    .faq__item__head {
      color: #fff;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &.active i::after {
        transform: rotate(90deg);
      }
    }

    .faq__item__body {
      padding: 1.5rem;
      color: rgba(255, 255, 255, 0.65);
      font-size: 0.9375rem;
      padding-top: 0.25rem;
      transition:
        height 0.5s ease,
        opacity 0.3s ease;
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1rem;
      height: 1rem;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1px;
        background-color: #fff;
        transition: 0.5s;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .sec-faq {
    h2 {
      font-size: 2rem;
    }

    .sec-faq-desc {
      font-size: 1rem;
      max-width: 100%;
    }

    img {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .sec-faq h2 {
    margin: 0 0 10px 0;
  }

  .sec-faq {
    margin: 0;
  }
}