aside {
  @apply w-full md:md:max-w-[340px];
  .category-filter-section {
    @apply md:bg-primary-blue rounded-3xl p-5 mb-4 text-white;

    .category-filter-title {
      @apply flex items-center justify-center md:justify-start pb-4;

      svg {
        @apply hidden md:block;
      }
    }

    .category-swiper-container {
      @apply w-full overflow-hidden;
    }

    .category-swiper {
      @apply w-full;
      .swiper-wrapper {
        @apply p-5;
        .swiper-slide {
          @apply w-auto; // This allows slides to be sized based on content
        }
      }
    }

    .category-filter-item {
      @apply bg-white text-black shadow-lg md:shadow-none md:bg-transparent rounded-3xl md:rounded-none flex items-center p-4 md:pb-4 md:p-0 md:text-white;

      a {
        @apply text-black md:text-white;
      }

      &:not(:last-child) {
        @apply md:border-b border-white/20 md:pb-4 mb-4;
      }
    }

    .category-filter {
      @apply hidden md:block appearance-none w-5 h-5 border-2 border-white rounded bg-transparent relative cursor-pointer transition-all duration-200 ease-in-out ml-2.5;

      &:checked {
        @apply bg-white border-white relative;
      }

      &:hover {
        @apply border-white/80;
      }

      &:focus {
        @apply outline-none ring-2 ring-white/40;
      }
    }

    .show-more-button {
      @apply text-sm flex items-center text-blue-200 transition-colors duration-200 mx-auto;

      &:hover {
        @apply text-white;
      }
      &:focus {
        outline: none;
      }
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
      font-size: 20px !important;
    }

    .swiper-button-next.blog-next,
    .swiper-button-prev.blog-prev {
      color: #264480 !important;
      padding: 20px !important;
      font-size: 14px !important;
      width: 6px !important;
      height: 3px !important;
      border: 1px solid #264480 !important;
      border-radius: 12px !important;
      transition: all 0.5s;
      //@apply absolute top-1/2 transform -translate-y-1/2 z-10 w-10 h-10 flex items-center justify-center bg-white rounded-full shadow-md text-gray-800 transition-all duration-300;

      &:hover {
        color: white !important;
        @apply bg-primary;
      }

      &::after {
        @apply text-lg;
      }
    }
  }

  /* SCSS for Latest Articles Section */
  .latest-articles-section {
    @apply max-w-4xl mx-auto;

    .articles-container {
      @apply md:bg-primary-blue rounded-3xl md:p-8 text-white md:shadow-xl;

      .header {
        @apply flex items-center justify-center md:justify-start pb-4;

        svg {
          @apply w-6 h-6 hidden md:block;
        }

        h2 {
          @apply text-lg font-bold md:text-white mr-2;
        }
      }

      .article {
        @apply flex items-center justify-between mb-6 gap-4;

        .image-container {
          @apply rounded-lg overflow-hidden;
          max-width: 150px;
            max-height: 100px;
          object-fit: contain;
          
          @screen md {
            max-width: 100px;
            max-height: 100px;
          }

          img {
            @apply w-full h-full object-cover;
            width: 300px;
            height: 100px;
          }
        }

        .article-content {
          @apply flex flex-col gap-1;

          h3 {
            @apply text-sm md:text-white;
          }

          p {
            @apply text-xs text-black md:text-gray-200 text-right md:hidden;
          }

          .read-more {
            @apply text-right;

            a {
              @apply text-xs text-primary-red hover:text-red-300 transition-colors duration-200;
            }
          }
        }
      }
    }
  }
}
