.section-cm {
    &.testimonial-component {
      width: 100%;
      display: inline-block;
      padding: 100px 0;
      text-align: center;
  
      .container {
        > h2 {
          width: 100%;
          font-size: 2.7rem;
          color: #fff;
          text-align: center;
          display: inline-block;
          line-height: 3rem;
        }
  
        > p {
          width: 60%;
          margin: 11px auto;
          display: inline-block;
          color: #fff;
          font-size: 1.3rem;
          text-align: center;
          line-height: 2.3rem;
        }
      }
    }
  }


  .cm-wrap {
    --gap: 1rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
  
    .marquee__group {
      display: flex;
      gap: var(--gap);
      min-width: 100%;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-around;
      animation: scroll-x 30s linear infinite;
    }
  
    &:hover .marquee__group {
      animation-play-state: paused !important;
    }
  }
  
  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: -3s;
  }
  
  @keyframes scroll-x {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .cm-item {
    color: #fff;
    background-color: rgb(12, 12, 15);
    padding: 1rem;
    border-radius: 1rem;
    width: 22rem;
  
    img {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
    }
  
    i {
      font-size: 0.8125rem;
    }
  
    strong {
      margin-right: auto;
      font-size: 0.875rem;
    }
  
    .d-flex {
      gap: 0.5rem;
      align-items: center;
    }
  
    span {
      font-size: 0.75rem;
      display: block;
      text-align: right;
    }
  
    p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 0.875rem;
      margin-block: 1rem;
    }
  }