.blog-card {
  &.blog-row {
    @apply flex items-center md:min-h-[250px] max-w-full;

    .image-container {
      @apply max-w-[500px] min-w-[96px] h-[9rem] md:h-[13rem];
    }

    .content {
      @apply md:block;

      p {
        @apply w-50 md:w-full;
      }
    }
  }

  &.blog-row-mini {
    @apply flex items-center md:min-h-[180px] max-w-full;

    .image-container {
      @apply max-w-[500px] min-w-[96px] h-[9rem];
    }

    .content {
      @apply md:block;

      p {
        @apply w-50 md:hidden md:w-full;
      }
    }
  }

  @apply md:max-w-[400px] flex items-center md:block bg-white rounded-3xl overflow-hidden p-4 transition-transform duration-300 ease-in-out md:min-h-[350px] h-fit;
  box-shadow: 2px 2px 30px 10px rgba(0, 0, 0, 0.1);

  &:hover {
    @apply shadow-xl transform scale-105 bg-primary-blue;

    .image-container img {
      @apply transform scale-110;
    }
    .content,.footer,.profile{
      h2,h3,p,span,svg,time{
       color: white  !important;
      }
    }

  }

  /* Image Container */
  .image-container {
    @apply w-full h-36 bg-gray-200 relative rounded-3xl overflow-hidden;
    img {
      @apply w-full h-full object-cover transition-transform duration-300 ease-in-out;
    }
  }

  /* Content */
  .content {
    @apply p-4 flex md:block justify-between flex-col;

    h3 {
      @apply text-lg font-semibold text-right mb-2 transition-all duration-300 ease-in-out;
      line-height: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Restrict to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 50px;
    }

    p {
      @apply text-sm text-gray-600 text-right transition-all duration-300 ease-in-out;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Restrict to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.5rem;

    }

    .footer {
      @apply flex justify-between items-center mt-4;

      .profile {
        @apply flex items-center;

        svg {
          @apply w-5 h-5 mr-1 text-gray-500;
        }

        span {
          @apply text-sm text-gray-500;
        }
      }

      .read-more {
        @apply text-primary-blue text-sm flex items-center transition-all duration-300 ease-in-out;

        svg {
          @apply w-4 h-4 mr-1;
        }
      }
    }
  }
}