@use "./base-card";

.category-card {
  @extend %base-card;
  max-width: 100%;
  width: 100%;
  
  @screen md {
    width: 100%;
    margin : 0 auto;
  }
  &__content {
    @apply p-2 flex justify-between items-center gap-1 md:p-5;
  }

  &__header__row {
    @apply flex justify-start items-center gap-2;
  }

  &__icon {
    @apply w-16 h-16 flex items-center justify-center;

    img{
      @apply w-13 h-13 object-contain;
    }
    svg {
      @apply w-full h-full text-blue-800;
    }
  }

  &__title {
    @apply font-bold text-sm md:text-base leading-7 w-full;
  }

  &__link {
    @apply text-red-500 text-sm flex justify-end items-center md:mt-8 no-underline;

    span {
      @apply ml-1;
    }

    //svg {
    //  @apply h-5 w-5 mr-1;
    //}
  }
}

.category-cards-grid {
  @extend %cards-grid;
}

.category-cards-flex {
  @apply w-9/10 sm:w-full lg:flex-nowrap flex flex-row justify-center md:justify-between items-center flex-wrap gap-4 bg-primary-blue rounded-3xl p-3 md:p-9;
}
