.partners_company_section {
  @apply flex flex-col gap-4 container my-16  items-center;

  .partners-slider-container {
    position: relative;
    width: 100%;
  }

  .partners_company {
    width: 100%;
    border-radius: 1.5rem;
  }

  .swiper-wrapper{
    @apply bg-white;
  }
  .partners_company .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    @apply bg-white;
  }



  .parnters_company {
    @apply flex items-center justify-center bg-white rounded-3xl p-9;
    box-shadow: 2px 2px 30px 10px rgba(0, 0, 0, 0.05);
    max-width: 400px !important;
    max-height: 150px !important;
    width: 300px !important;
    height: 150px;
    min-height: 150px;
    .partners-img   {
      max-width: 250px;
      max-height: 250px;
      object-fit: cover;
    }
  }

  /* Navigation Buttons */
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 12px !important;
  }
  .swiper-button-next.parnters-next,
  .swiper-button-prev.parnters-prev {
    color: #264480 !important;
    transition: all 0.5s;
    border: 1px solid #264480 !important;
    padding: 2px !important;
    border-radius: 7px !important;
    width: 20px !important;
    height: 20px !important;
    @screen md {
      padding: 20px !important;
      font-size: 14px !important;
      width: 6px !important;
      height: 3px !important;

      border-radius: 12px !important;

      //@apply absolute top-1/2 transform -translate-y-1/2 z-10 w-10 h-10 flex items-center justify-center bg-white rounded-full shadow-md text-gray-800 transition-all duration-300;
    }
    &:hover {
      color: white !important;
      @apply bg-primary;
    }

    &::after {
      @apply text-xs md:text-lg;
    }
  }

  @screen md {
    .swiper-button-prev.parnters-prev {
      left: -60px !important;
      top: 50% !important;
    }
    .swiper-button-next.parnters-next {
      right: -60px !important;
      top: 50% !important;
    }
  }


 
}
