@use './base-card';

.services-card {
  @extend %base-card;

  &:hover {
    @apply shadow-lg -translate-y-1;
  }

  &__content {
    @apply py-2 px-3 md:p-3;
  }

  &__header {
    @apply flex md:flex-col md:justify-between gap-2 items-center;
  }
  &__header__row {
    @apply flex flex-row justify-between items-center;
  }

  &__icon {
    @apply w-12 md:w-16 h-12 md:h-16 flex items-center justify-center;

    img {
      @apply w-full h-full ;
    }
  }

  &__title {
    @apply font-bold text-base md:text-lg leading-7;
  }

  &__link {
    @apply text-red-500 text-sm flex justify-end items-center md:mt-2 no-underline;

    span {
      @apply ml-1;
    }

    svg {
      @apply mt-1;
      rotate: 2025deg;
      width: .75rem;
      height: .75rem;
    }
  }
}

.services-cards-grid {
  @extend %cards-grid;
  @apply w-9/10 md:w-full mx-auto;
}
