.why-choose-us-component {
  &.WhyChooseUS {
    display: flex;
    width: 100%;
    position: relative;

    .WhyChooseUS-container {
      position: sticky;
      top: 0;
      height: 100vh;
      width: 100%;
      margin: 0;

      .Mask {
        -webkit-mask: radial-gradient(
          40% 40% at 50% 50%,
          #000 0%,
          #000 60%,
          rgba(0, 0, 0, 0.5) 80%,
          rgba(0, 0, 0, 0) 100%
        ) add;
        mask: radial-gradient(
          40% 40% at 50% 50%,
          #000 0%,
          #000 60%,
          rgba(0, 0, 0, 0.5) 80%,
          rgba(0, 0, 0, 0) 100%
        ) add;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 1200px;
        max-width: 1200px;
        position: absolute;
        left: calc(50% - min(1200px, 1200px) / 2);
        top: 0;
        z-index: 9;
        gap: 10px;
        overflow: hidden;
        padding: 0;
      }

      .Text {
        position: absolute;
        width: 60%;
        right: 20%;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        z-index: 1;
        font-size: 60px;
        text-align: center;
        font-weight: 900;

        span {
          background-size: 100%;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .whyChooseUS-list {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 2;

        li {
          background: #121d30;
          box-shadow: 0px 20px 30px 0px rgb(0, 0, 0);
          border-radius: 12px;
          padding: 40px 49px;
          width: 700px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          pointer-events: none;
          z-index: 0;
          transition: all 0.6s ease-out;
          backdrop-filter: blur(50px);

          &.active {
            opacity: 1;
            z-index: 10;
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1) rotate(0deg);
          }

          &.previous {
            opacity: 0.6;
            z-index: 5;
            filter: blur(1px);
          }

          &:nth-child(odd).active {
            transform: translate(-60%, -60%) rotate(-4deg) scale(1);
          }

          &:nth-child(even).active {
            transform: translate(-40%, -60%) rotate(4deg) scale(1);
          }

          &:nth-child(1),
          &:nth-child(5),
          &:nth-child(9) {
            transform: translate(-50%, -250%) scale(1) rotate(10deg);
          }

          &:nth-child(2),
          &:nth-child(6),
          &:nth-child(10) {
            transform: translate(200%, -50%) scale(1) rotate(10deg);
          }

          &:nth-child(3),
          &:nth-child(7),
          &:nth-child(9) {
            transform: translate(-50%, 250%) scale(1) rotate(10deg);
          }

          &:nth-child(4),
          &:nth-child(8),
          &:nth-child(12) {
            transform: translate(-200%, -50%) scale(1) rotate(10deg);
          }

          .item_head {
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;
            margin-bottom: 10px;
            position: relative;

            .icon_number {
              display: flex;
              flex-direction: row-reverse;
              flex-wrap: nowrap;
              width: 100%;

              img {
                width: 30px !important;
                height: 30px !important;
              }

              i {
                width: calc(100% - 30px);
                color: #fff;
                font-style: normal;
                font-size: 25px;
                text-align: right;
              }
            }

            .item_title {
              display: flex;
              align-items: start;
              color: #fff;
              font-size: 25px;
              font-weight: 600;
              margin-top: 10px;
              letter-spacing: 1px;
              position: relative;
            }

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: rgba(255, 255, 255, 0.05);
              right: 0;
              bottom: 0;
            }
          }

          .item_body {
            display: flex;
            align-items: start;

            p {
              font-size: 21px !important;
              color: #fff;
              opacity: 0.6;
              font-weight: 300 !important;
              line-height: 2;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    &.WhyChooseUS .WhyChooseUS-container .Mask {
      width: 100%;
      left: 0;
      padding: 0 20px;
      -webkit-mask: unset;
      mask: unset;
    }
  }

  @media (max-width: 768px) {
    &.WhyChooseUS {
      height: auto;
      margin: 0;

      .WhyChooseUS-container {
        position: relative;
        height: auto;

        .Mask {
          position: relative;
          height: auto;
          right: 0;
          width: 100%;
        }

        .Text {
          position: relative;
          font-size: 25px;
          width: 90%;
          right: 5%;
        }

        .whyChooseUS-list {
          position: relative;
          width: 100%;
          height: auto;
          overflow: unset;
          padding: 0;

          li {
            position: relative !important;
            left: 0 !important;
            width: 100% !important;
            display: inline-block !important;
            opacity: 1 !important;
            margin: 0 0 13px 0 !important;
            top: 0;
            transform: unset !important;
            padding: 18px;

           

            .item_head {
              .icon_number {
                display: none;
              }

              .item_title {
                font-size: 15px;
              }
            }

            .item_body p {
              font-size: 13px !important;
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    &.WhyChooseUS .WhyChooseUS-container {
      .Text {
        font-size: 22px;
      }

      .whyChooseUS-list li {
        .item_head .item_title {
          font-size: 20px;
        }

        .item_body p {
          font-size: 16px !important;
          line-height: 1.8;
        }
      }
    }
  }
}